@import '../../scss/brand_color';

@mixin animateLogo ($keyFrameName, $width) {
  @keyframes #{$keyFrameName} {
    from {
      width: 45px;
    }

    to {
      width: $width;
    }
  }
}

.welcome-main {
  width: 100%;
  color: $text;

  .welcome-head {
    $self: &;
    height: 70px;
    // background: white;
    border-bottom: 1px solid lightgray;
    z-index: 1;

    &__link {
      display: flex;
      -webkit-box-pack: start;
      justify-content: flex-start;
      flex-direction: row;
      margin-bottom: 1em;

      &--header {
        width: 40%;
        // background-color: #fff;
      }

      &__list {
        font-size: 16px;
        outline: transparent solid 2px;
        outline-offset: 2px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        flex: 1 1 0%;
        transition: all 0.2s ease 0s;
        font-size: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        &--active {
          color: rgb(44, 82, 130);
          background: rgb(190, 227, 248);
          border-radius: 9999px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .welcome-logo {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #fff;
    width: 40%;
    margin: 40px 0px 15px;
    border-radius: 2.5%;
    border-width: 1px;

    .content {
      $self: &;

      &__logo {
        $self: &;

        span {
          font-size: 36px;
          display: inline;
          animation-delay: 2s;

          @for $i from 1 to 3 {
            @if $i==1 {
              &:nth-child(#{$i}) {
                animation: span1 5s infinite;
              }

            }

            @else {
              &:nth-child(#{$i}) {
                animation: span2 5s infinite;
              }
            }
          }
        }

        &--module {
          span {
            animation-iteration-count: 1 !important;
          }

        }

        @include animateLogo(span1, 75px);
        @include animateLogo(span2, 55px)
      }

      &__text {
        font-size: 26px;
        margin-left: 20px;
      }
    }
  }

  .welcome-page-content {
    $self: &;
    color: $text;

    &__intro {
      &__content {

        h3,
        h1 {
          color: $text;
        }
      }

      .p_box {
        border-right: 3px solid $borderColor
      }
    }

    &__whyBC {
      &__content {
        width: 300px;
        height: 315px;
        margin: 20px;
        color: $text;
        //border: 2px solid violet;

        img {
          height: 200px;
          width: 250px;
        }
      }
    }
  }
}