@import "../../scss/brand_color";
@import "../../scss/screen_size";

@mixin default_button($baseColor, $width, $hover) {
  background: $baseColor !important;
  color: #fff !important;
  width: $width;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  border-color: transparent !important;
  border-radius: 2.5%;
  height: 40px;
  margin-top: 15px !important;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
  text-decoration: none;

  &--register {
    width: 94.5%;
  }

  &:hover {
    background: $hover !important;
    // color: $text;
  }
}

.login-main {
  $self: &;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include sm {
    background: unset;
    height: unset;
    width: unset;
    border: unset;
    margin-left: 0rem;
    margin-top: unset;
    padding: unset;
    justify-content: flex-start;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include sm {
      flex-direction: column;
      justify-content: unset;
    }
  }

  &__form {
    // border-left: 3px solid $borderColor;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    background-color: white;
    border-radius: 2.5px;
    padding: 1rem;

    @include sm {
      width: 100%;
    }

  }

  &__div {
    display: flex;
    justify-content: center;
    margin-left: 3rem;

    @include sm {
      margin-left: unset;
    }
  }

  &__form_div {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__button {
      @include default_button(#25c4fe, 94.5%, #2b6cb0);
    }

    &__link {
      @include default_button(#e53e3e, 46%, #c53030);
    }

    &__register {
      @include default_button(#04AA6D, 46%, #059862);
    }
  }

  &__logo_div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include sm {
      align-items: unset;
      justify-content: center;
    }
  }
}