$primary-shade:('HeadingColor': #000
  /* rgb(128, 0, 128) */
  ,
  'textColor':#000,
  'logoColor': #000,
  /* -webkit-linear-gradient(rgb(0, 0, 0), rgb(69, 69, 69)), */
  'iconColor':#000,
  'activeColor':rgb(0, 0, 0),
  'footerColor':#282828,
  'borderColor': #000,
  'outlineColor': #e6e6e6);

@function primaryColor($color-name) {
  @return map-get($primary-shade, $color-name)
}

$heading: primaryColor('HeadingColor');
$text: primaryColor('textColor');
$logo: primaryColor('logoColor');
$icon: primaryColor('iconColor');
$active: primaryColor('activeColor');
$footerColor: primaryColor('footerColor');
$borderColor: primaryColor('borderColor');
$outlineColor: primaryColor('outlineColor');